*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo-de-busca {
    background: #007bff;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: white;
}

h4 {
    margin-bottom: 10px;
}

.form-control {
    display: flex;
    justify-content: center;
    gap: 10px;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #0056b3;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #003d80;
}

.containers-principios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 15px;
    width: 100%;
    max-width: 400px;
}

.principio {
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #007bff;
    width: 100%;
    text-align: center;
}

.principio:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
